* {
    margin: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  
  body {
    font-family: 'Kanit', sans-serif;
    padding: 20px 0px 0;
    background-image: url(image/repeet.jpg);
    background-size: cover;
  }
  
  .contenedor { 
      width: 100%;
      box-shadow: 0px 0px 1px black;
      margin: 10px auto;
      display: grid;
      grid-gap: 15px ;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(6, auto);
      grid-template-areas:
                           "main main main"
                           "footer footer footer";
  }
  .contenedor > div, 
  .contenedor .main,
  .contenedor .footer { 
      border-radius: 4px;
  }
  
  .header {
    background-color: #000000;
    height: 90px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  #logo-nav{
    height: 80px;
  }
  .nav {
    display: flex;
    justify-content: space-evenly;
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  .line{
    background-color:#c8c7c7;
    height: 2px;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 150px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
  }
  main{
    grid-area: main;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
  .nav__close {
    display: none;
  }
  .header{
    height: auto;
  }
  
    .content{
      height: auto;
      background-color: #ffffff;
      margin-top: 120px;
      display: flex;
      justify-content:center ;
      flex-direction: column;
      align-items: center;
    }
    .categorias{
      background-color: #ffffff;
      height: 600px;
      width: 100%;
      text-align: center;
      padding: 50px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .title{
        text-align: center;
        font-family: 'Kanit', sans-serif;
        font-size: 55px;
        padding: 30px;
        margin: 20px 0px;
        background-color: #000000;
        color: #ffffff;
        width: 90%;
        border-radius: 10px;
    }
    .text{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        font-size: 40px;
        font-family: 'Jost', sans-serif;
    }
    .emoji{
      height: 80px;
    }
    .logo-gif{
      height: 300px;
    }
    .logo-text{
        height: 300px;
        animation: floaty 1s infinite alternate
    }
    .contenedor-column{
      display: flex;
      align-items: center;
      scroll-snap-type: mandatory;
    }
    .contenedor-cate{
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
    .categorias-title{
      font-size: 50px;
      margin-bottom: 30px;
      color: #000000;
      font-family: 'Kanit', sans-serif
    }
    .cat-tcs-main{
      height: 80px;
    }
    .categorias-master{
      color: #fafafa;
      font-size: 20px;
      font-family: 'Jost', sans-serif;
      padding: 40px;
      display:flex;
      justify-content: space-around;
      align-items: center;
      height: 120px;
      width: 30%;
      background-color: rgb(5, 5, 5);
      border-radius: 10px;
      transition: 0.5s;
      margin: 10px;
    }
    .categorias-master:hover{
      transform: scale(0.9);
      box-shadow: 0px 0px 20px rgb(0 0 0 / 50%);
    }
    
    .footer{
      min-height: 300px;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .contac-title{
      font-family: 'Kanit', sans-serif;
      font-size: 30px;
      color: #ffffff;
    }
    .-fot-logo{
      height: 200px;
    }
    .rds{
      margin: 20px;
    }
    .rds-main{
      height: 120px;
      margin: 30px;
    }
    
    @keyframes floaty {
      0% {
        transform: translateY(0);
        
      }
      100% {
        transform: translateY(15px); ;
      }
    }
    
    @keyframes floaty-person {
      0% {
        transform: translateY(90px);
      }
      100% {
        transform: translateY(60px);
      }
    }
    
    
    
    @media screen and (max-width: 767px) {
      body{
        height: 30px;
      }
      #logo-nav {
        height: 60px;
      }
      .logo{
        line-height: 0px;
      }
      .nav-menu {
        flex-direction: column;
        margin: 0;
        background-color: #000000;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
    
        overflow-y: auto;
    
        left: 980px;
        width:180px;
        height: 250px;
        font-size: 35px;
        transform: translateX(178px);
        border-radius: 20px;
        transition: left 1s;
      }
      .nav__close {
        position: absolute;
        right: 0;
        transform: translateX(178px);
        font-size: 15px;
        cursor: pointer;
        border-radius: 20px;
      }
      .nav-menu-item {
        line-height: 70px;
      }
    
      .nav-menu-link:hover,
      .nav-menu-link_active {
        background: none;
        color: #02020d;
        background-color: aliceblue;
      }
    
      .nav-toggle {
        display: block;
        padding: 0px 10px;
      }
      .nav-menu_visible a{
        font-size: 15px;
      }
      .nav-menu_visible {
        left: 0;
        height: 250px;
        position: absolute;
        transform: translateX(178px);
        border-radius: 20px;
      }
    
      .nav-toggle:focus:not(:focus-visible) {
        outline: none;
      }
     
      @keyframes floaty {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(35px);
        }
      }
      .content{
        height: auto;
        background-color: #ffffff;
        margin-top: 38px;
        display: flex;
        justify-content:center ;
        flex-direction: column;
        align-items: center;
      }

      .categorias{
        background-color: #ffffff;
        height: 600px;
        width: 100%;
        text-align: center;
        padding: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .contenedor-column{
        display: flex;
        align-items: center;
        scroll-snap-type: mandatory;
      }
      .categorias{
        background-color: #ffffff;
        height: 800px;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .contenedor-column{
        display: flex;
        align-items: center;
        scroll-snap-type: mandatory;
      }
      .contenedor-cate{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
      }
      .categorias-title{
        font-size: 30px;
        margin-bottom: 20px;
        color: #000000;
        font-family: 'Kanit', sans-serif
      }
      .cat-tcs-main{
        height: 70px;
      }
      .categorias-master{
        font-size: 20px;
        font-family: 'Jost', sans-serif;
        padding: 10px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        width: 100%;
        border-radius: 10px;
        transition: 1s;
        margin: 10px;
      }
      .contenedor-recomendaciones{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        margin: 10px;
      }
      
      .footer{
        min-height: 300px;
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .contac-title{
        font-family: 'Kanit', sans-serif;
        font-size: 30px;
        color: #ffffff;
      }
      .contain-rds{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: baseline;
      }
      .-fot-logo{
        height: 200px;
      }
      .rds{
        margin: 20px;
      }
      .rds-main{
        height: 90px;
        margin: 10px;
      }
      .title{
        font-size: 40px;
      }
      .emoji{
        height: 50px;
      }
      .logo-gif{
        height: 200px;
      }
    }
    